################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://www.libssh2.org/download/libssh2-1.3.0.tar.gz
md5sum=6425331899ccf1015f1ed79448cb4709





[mirrors]
sourceforge = downloads.sourceforge.net





