################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://www.libssh2.org/download/libssh2-1.2.4.tar.gz
md5sum=4d65a66d5f232e5bb1d05b311e43d46d



[mirrors]
sourceforge = downloads.sourceforge.net




