################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://gentoo.tiscali.nl/distfiles/libssh2-1.4.3.tar.gz
md5sum=071004c60c5d6f90354ad1b701013a0b
[mirrors]
sourceforge = downloads.sourceforge.net





